@media (max-width: 1170px){

.grid{
   
    margin: 2em;
    display: grid;
    grid-template-areas: "first" "second " "third" "fourth " ;
    grid-template-rows: 200px 200px ;
    grid-template-columns: 200px  ;
    gap: 40px;
   
    
}
}
@media (max-width: 940px){

    .format{
        display: flex;
        margin: 3%;
       flex-direction: row;
        display: grid;
        grid-template-areas: "grid_2" "grid_1" "grid_3" ;
        grid-template-rows: 18% ;
        grid-template-columns: 100%;
        gap: 2%;
    }
    
.main_section5{
    width: 80%;
    margin: 15% 10%;
   
   display: flex;
   flex-direction: column;
   background-color: #edd1b0;
   color: #1a0f04;

}
}
@media (max-width: 830px){
    
#obz{
    display: flex;
    flex-direction: column;
}

#obz>p{
    width: 100%;
    margin: 2% 4%;
}

#photos{
    display: flex;
    flex-direction: column;
}
#photos>img{
  width: 100%;
 margin: 2% 4%;
 border-radius: 20px;
}


.photo{
    
    margin: 3%;
     display: flex;
     flex-direction: column;
 
 }
 .photo > img{
     width: 100%;
    margin: 3% 0%;
   
     border-radius: 20px;
 }
 
.photo1{
    margin: 5% 1%;
    display: flex;
    flex-direction: column;
}
.photo1>img{
    border-radius: 20px;
    width: 100%;
    
    margin: 3% 0%;
}

.decor{
    display: flex;
    flex-direction: column;
 margin: 5%;
}

.decor>img{
    width: 100% ;
    margin: 3% 0%;
    border-radius: 20px;
}

.grafic{
    display: flex;
    flex-direction: row;
    margin: 5% 5% 5% 8%;
   
    display: grid;
    grid-template-areas:  "grafic_3" "grafic_4" ;
    grid-template-rows: 400px  ;
    grid-template-columns: 100%;
    gap: 60px;
   
}
}
@media (max-width: 770px){

    .grid{
   
        margin: 2em;
        display: grid;
        grid-template-areas: "first second " "third fourth " ;
        grid-template-rows: 200px 200px ;
        grid-template-columns: 50% 50% ;
        gap: 40px;
       
        
    }
    
#gridd{
    display: grid;
    grid-template-areas: "src1" "src " ;
    grid-template-rows: 45% 5%;
    grid-template-columns: 100%  ;
    gap: 1%;
margin:auto;
}
}
@media (max-width: 580px){
    .grid{
   
        margin: 3%;
        display: grid;
        grid-template-areas: "first second " "third fourth " ;
        grid-template-rows: 200px 200px ;
        grid-template-columns: 45% 45% ;
        gap: 40px;
    }
      
#gridd{
    display: grid;
    grid-template-areas: "src1" "src " ;
    grid-template-rows: 40% ;
    grid-template-columns: 100%  ;
    gap: 5%;
margin:auto;
}
.main_section1, .main_section2, .main_section3, .main_section4, .main_section5, .main_section6, .main_section7{
    width: 100%;
    margin: 25% 0%; 
}
.format{
    display: flex;
    margin: 3%;
   flex-direction: row;
    display: grid;
    grid-template-areas: "grid_2" "grid_1" "grid_3" ;
    grid-template-rows: 30% ;
    grid-template-columns: 100%;
    gap: 2%;
}

#photos{
    display: flex;
    flex-direction: column;
}
#photos>img{
  width: 90%;
 margin: 2% 4%;
 border-radius: 20px;
}

#obz>p{
    width: 90%;
    margin: 2% 4%;
}

}
@media (max-width: 455px){
    
.format{
    display: flex;
    margin: 5% 1%;
   flex-direction: row;
    display: grid;
    grid-template-areas: "grid_2" "grid_1" "grid_3" ;
    grid-template-rows: 35% ;
    grid-template-columns: 100%;
    gap: 2%;
}
    .grid{
   
        margin: 2%;
        display: grid;
        grid-template-areas: "first" "second " "third" "fourth " ;
        grid-template-rows: 200px 200px ;
        grid-template-columns: 60% ;
        gap: 3%;
    }
    
.src1{
    height: 800px;
   margin: 5% 25%;
    display: flex;
  
}
     
#gridd{
    display: grid;
    grid-template-areas: "src1" "src " ;
    grid-template-rows: 50% ;
    grid-template-columns: 100%  ;
    gap: 10%;
margin:auto;
}
}
@media (max-width: 375px){
       
.format{
    display: flex;
    margin: 15% 1%;
   flex-direction: row;
    display: grid;
    grid-template-areas: "grid_2" "grid_1" "grid_3" ;
    grid-template-rows: 40% ;
    grid-template-columns: 100%;
    gap: 4%;
}
     
#gridd{
    display: grid;
    grid-template-areas: "src1" "src " ;
    grid-template-rows: 50%;
    grid-template-columns: 100%  ;
    gap: 20%;
margin:auto;
}
}